body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.line-through {
    text-decoration: line-through;
    color: #777;
}

.render-list {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffe7cc;
    border-radius: 10px;
    padding: 20px;
}

.render-list h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #555;
    text-align: center;
}

.renderlist-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 10px 0px;
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.renderlist-child:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
button {
    font-size: 1rem;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delBtn {
    background-color: #ff4d4d;
    color: #fff;
    margin-left: 10px;
}

.delBtn:hover {
    background-color: #e60000;
}

.editBtn {
    background-color: #4caf50;
    color: white;
    margin-left: 10px;
}

.editBtn:hover {
    background-color: #388e3c;
}
.renderlist-child h3 {
    font-size: 1.2rem;
    margin: 0;
    flex: 1;
}

.renderlist-child p {
    font-size: 0.9rem;
    color: #b0aeae;
    margin: 0;
}
.navigation-buttons button{
    margin: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .render-list {
        padding: 15px;
    }

    .renderlist-child {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .renderlist-child h3 {
        font-size: 1.2rem;
    }

    .renderlist-child p {
        font-size: 0.85rem;
    }

    button {
        text-align: center;
        padding: 10px;
        margin-top: 5px;
    }
    .delBtn{
        width: 100%;
    }
    .editBtn{
        width: 100%;
    }

}

@media (max-width: 480px) {
    .render-list {
        padding: 10px;
    }

    .renderlist-child {
        padding: 10px;
    }

    button {
        font-size: 0.85rem;
        padding: 8px;
    }

    .renderlist-child h3 {
        font-size: 1rem;
    }
}
